// ---------------- VARIABLES ----------------

$headerHeight: 60px;
$headerMargins: 20px;
$avatarDiameter: 40px;
$usersBarHeight: 50px;
$entryHeaderHeight: 35px;
$gridLeftMargin: 10px;
$gridLeftMarginSmall: 5px;
$gridRightMargin: 10px;
$gridRightMarginSmall: 5px;
$entryHeight: 50px;

$defaultIconColor: #c9c9c9;

// ---------------- GENERAL ----------------

.avatar {
  background-color: $defaultIconColor;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s;

  &:hover {
    background: rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }
}

.actionIcon {
  color: white !important;
  background-color: $defaultIconColor !important;
  margin-left: $gridLeftMargin !important;
  margin-right: $gridRightMargin !important;
  height: $avatarDiameter;
  width: $avatarDiameter;
  transition: 0.5s;

  &:hover {
    background: rgba(0, 0, 0, 0.35) !important;
    cursor: pointer;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.smallLeftMargin {
  margin-left: $gridLeftMarginSmall;
}

.leftMargin {
  margin-left: $gridLeftMargin;
}

.oddIdx {
  background-color: #f4f4f4;
}

.evenIdx {
  background-color: #dedede;
}

// ---------------- HEADER ----------------

.header {
  height: $headerHeight;
  background-color: #377cab;
}

.headerItem {
  display: inline-flex;
  align-items: center;
}

.logo {
  margin-left: 10px;
  height: $headerHeight - $headerMargins;
}

.profile {
  margin-right: 10px;
}

.profileItem {
  justify-content: flex-end;
}

// ---------------- USERS BAR ----------------

.usersBar {
  height: $usersBarHeight;
  align-items: center;
  background-color: #f4f4f4;
}

.usersBarItem {
  display: flex;
}

.dialogNames {
  display: flex;
  justify-content: space-between;
}

.halfWidthInput {
  width: 45%;
}

.addUserButton {
  transition: all 0.5s;

  &:hover {
    background-color: #bbbbbb;
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

// ---------------- GRID HEADER ----------------

.entryHeaderItem {
  background-color: #c9c9c9;
  border-right: 1px solid black;
  height: $entryHeaderHeight;
  display: flex;
  align-items: center;
}

.lastEntryHeaderItem {
  background-color: #c9c9c9;
  height: $entryHeaderHeight;
  display: flex;
  align-items: center;
}

.sidebarHeaderItem {
  background-color: #c9c9c9;
  border-left: 1px solid black;
  height: $entryHeaderHeight;
  display: flex;
  align-items: center;
}

.gridHeaderText {
  margin-left: $gridLeftMargin;
  font-size: 17px;
  font-weight: bold;
}

// ---------------- ENTRIES GRID ----------------

.entryDiv {
  height: $entryHeight;
  display: flex;
  align-items: center;
  border-right: 1px solid black;
  transition: all 0.5s;

  &:hover {
    background: rgba(41, 128, 185, 0.5);
  }

  &:focus-within {
    background: rgba(41, 128, 185, 0.5);
  }
}

.lastEntryDiv {
  height: $entryHeight;
  display: flex;
  align-items: center;
  transition: all 0.5s;

  &:hover {
    background: rgba(41, 128, 185, 0.5);
  }

  &:focus-within {
    background: rgba(41, 128, 185, 0.5);
  }
}

.entryGridDiv {
  flex: 6;
  height: 100%;
}

.entryInput {
  height: $entryHeight;
  margin: 0px $gridRightMargin 0px $gridLeftMargin;
  transition: all 0.5s;
}

.addItemContainer {
  height: $entryHeight;
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.addItemButton {
  margin-top: 20px !important;
  border-radius: 20px !important;
}

// ---------------- SIDEBAR GRID ----------------

.sidebar {
  flex: 2;
}

.sidebarDiv {
  height: $entryHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid black;
  transition: all 0.5s;
}
