// ---------------- VARIABLES ----------------

$headerHeight: 60px;
$headerMargins: 20px;
$avatarDiameter: 40px;
$usersBarHeight: 50px;

$defaultIconColor: #c9c9c9;

// ---------------- GENERAL ----------------

.avatar {
  background-color: $defaultIconColor;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s;
  margin-left: 13px;

  &:hover {
    background: rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }
}

.actionIcon {
  color: white !important;
  background-color: $defaultIconColor !important;
  margin-left: 13px !important;
  height: $avatarDiameter;
  width: $avatarDiameter;
  transition: 0.5s;

  &:hover {
    background: rgba(0, 0, 0, 0.35) !important;
    cursor: pointer;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// ---------------- HEADER ----------------

.header {
  height: $headerHeight;
  background-color: #377cab;
}

.headerItem {
  display: inline-flex;
  align-items: center;
}

.logo {
  margin-left: 10px;
  height: $headerHeight - $headerMargins;
}

.profile {
  margin-right: 10px;
}

.profileItem {
  justify-content: flex-end;
}

// ---------------- USERS BAR ----------------

.usersBar {
  height: $usersBarHeight;
  align-items: center;
  background-color: #f4f4f4;
}

.usersBarItem {
  display: flex;
}

.dialogNames {
  display: flex;
  justify-content: space-between;
}

.halfWidthInput {
  width: 45%;
}

// ---------------- ENTRY GRID ----------------

.entryGridDiv {
  flex: 6;
}

.sidebarDiv {
  flex: 2;
}

.oddId {
  background-color: #f4f4f4;
}

.evenId {
  background-color: #dedede;
}

$entryHeight: 50px;

.entry {
  height: $entryHeight;
  display: inline-flex;
  align-items: center;
}

.entryHeaderText {
  margin-left: 10px;
  font-size: 17px;
  font-weight: bold;
}

.entryItemContainer {
  height: $entryHeight;
  border-right: 1px solid black;
  display: inline-flex;
  align-items: center;
  transition: all 0.5s;

  &:hover {
    background: rgba(41, 128, 185, 0.5);
  }

  &:focus-within {
    background: rgba(41, 128, 185, 0.5);
  }
}

.entryHeaderItemContainer {
  background-color: #c9c9c9;
  height: 35px;
  border-right: 1px solid black;
  display: inline-flex;
  align-items: center;
}

.entryItem {
  height: $entryHeight;
  padding-left: 10px;
  transition: all 0.5s;
}

.excludeAvatar {
  margin-left: 5px;
  transition: all 0.5s;
  font-weight: bold;

  &:hover {
    background: rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }
}

.entryDiv {
  display: flex;
  align-items: center;

  &:hover {
    background: rgba(41, 128, 185, 0.5);
  }
}

.addItemContainer {
  height: $entryHeight;
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.addItemButton {
  margin-top: 20px !important;
  border-radius: 20px !important;
}

.addUserButton {
  transition: all 0.5s;

  &:hover {
    background-color: #bbbbbb;
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.addUserModal {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;

  &:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
  }
}
