// ---------------- VARIABLES ----------------

$headerHeight: 60px;
$headerMargins: 20px;

$avatarDiameter: 40px;
$avatarFontSize: 20px;
$smallAvatarDiameter: 33px;

$usersBarHeight: 50px;
$entryHeaderHeight: 35px;
$gridMargin: 10px;
$gridMarginSmall: 5px;
$entryHeight: 50px;

$defaultIconColor: #c4c4c4;
$headerColor: #377cab;
$usersBarColor: #f6f6f6;
$gridHeaderColor: #c9c9c9;
$gridDarkColor: #dedede;
$gridLightColor: #f6f6f6;
$gridHighlightColor: rgba(41, 128, 185, 0.35);
$overviewDialogColor: #dfdfdf;

// ---------------- GENERAL ----------------

.avatar {
  background-color: $defaultIconColor;
  height: $avatarDiameter !important;
  width: $avatarDiameter !important;
  color: white;
  font-size: $avatarFontSize !important;
  font-weight: bold;
  transition: 0.5s;

  &:hover {
    background: rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }
}

.smallIconButton {
  background-color: $defaultIconColor !important;
  height: $smallAvatarDiameter;
  width: $smallAvatarDiameter;
  transition: 0.5s;

  &:hover {
    background: rgba(0, 0, 0, 0.35) !important;
    cursor: pointer;
  }
}

.largeIconButton {
  background-color: $defaultIconColor !important;
  height: $avatarDiameter;
  width: $avatarDiameter;
  transition: 0.5s;

  &:hover {
    background: rgba(0, 0, 0, 0.2) !important;
    cursor: pointer;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.smallLeftMargin {
  margin-left: $gridMarginSmall !important;
}

.leftMargin {
  margin-left: $gridMargin !important;
}

.smallRightMargin {
  margin-right: $gridMarginSmall !important;
}

.rightMargin {
  margin-right: $gridMargin !important;
}

.oddIdx {
  background-color: $gridLightColor;
}

.evenIdx {
  background-color: $gridDarkColor;
}

.roundedBottom {
  border-radius: 0px 0px 15px 15px;
}

// ---------------- HEADER ----------------

.header {
  height: $headerHeight;
  background-color: $headerColor;
}

.headerItem {
  display: inline-flex;
  align-items: center;
  color: white;
  font-weight: bold;
}

.logo {
  margin-left: 10px;
  height: $headerHeight - $headerMargins;
}

.profileItem {
  justify-content: flex-end;
}

// ---------------- USERS BAR ----------------

.usersBar {
  height: $usersBarHeight;
  align-items: center;
  background-color: $usersBarColor;
}

.usersBarItem {
  display: flex;
  align-items: center;
}

.usersBarChip {
  background-color: $defaultIconColor !important;
}

.usersBarAvatar {
  color: white !important;
  font-weight: bold;
}

.dialogNames {
  display: flex;
  justify-content: space-between;
}

.halfWidthInput {
  width: 45%;
}

.addUserButton {
  transition: all 0.5s;

  &:hover {
    background-color: #bbbbbb;
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

// ---------------- GRID HEADER ----------------

.entryHeader {
  background-color: $gridHeaderColor;
  height: $entryHeaderHeight;
  display: flex;
  align-items: center;
}

.entryHeaderItem {
  background-color: $gridHeaderColor;
  height: $entryHeaderHeight;
  display: flex;
  align-items: center;
}

.gridHeaderText {
  margin-left: $gridMargin;
  font-size: 17px;
  font-weight: bold;
}

// ---------------- ENTRIES GRID ----------------

.entryDiv {
  height: $entryHeight;
  display: flex;
  align-items: center;
  transition: all 0.5s;

  &:hover {
    background: $gridHighlightColor;
  }

  &:focus-within {
    background: $gridHighlightColor;
  }
}

.entryGridDiv {
  flex: 6;
  height: 100%;
}

.entryInput {
  height: $entryHeight;
  margin: 0px $gridMargin 0px $gridMargin;
  transition: all 0.5s;
}

.addItemContainer {
  height: $entryHeight;
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.addItemButton {
  margin-top: 20px !important;
  border-radius: 20px !important;
}

.addItemFabDiv {
  font-weight: bold !important;
  position: fixed;
  bottom: 30px;
  left: 30px;
}

// ---------------- OVERVIEW GRID ----------------

.overviewHeader {
  border-radius: 15px 15px 0px 0px;
  background-color: $gridHeaderColor;
  height: $entryHeaderHeight;
  display: flex;
  align-items: center;
}

.overviewFabDiv {
  font-weight: bold !important;
  position: fixed;
  top: $headerHeight + $usersBarHeight + 15;
  right: 20px;
}

.overview {
  padding: 20px;
  border-radius: 15px;
  background-color: $overviewDialogColor;
  position: fixed;
  top: $headerHeight + $usersBarHeight + 15;
  right: 20px;
  width: 400px;
}

.overviewRowDiv {
  height: $entryHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
