// ---------------- VARIABLES ----------------

$headerHeight: 60px;
$headerMargins: 20px;

$avatarDiameter: 40px;
$avatarFontSize: 20px;
$smallAvatarDiameter: 33px;

$usersBarHeight: 50px;
$entryHeaderHeight: 35px;
$gridMargin: 10px;
$gridMarginSmall: 5px;
$entryHeight: 50px;

$defaultIconColor: #c4c4c4;
$headerColor: #377cab;
$usersBarColor: #ffffff;
$gridHeaderColor: #c9c9c9;
$gridDarkColor: #dedede;
$gridLightColor: #f6f6f6;
$gridHighlightColor: #377cab35;
$overviewDialogColor: #eaeaea;
$greenArrowColor: #2ecc71;
$redArrowColor: #e74c3c;

// ---------------- GENERAL ----------------

.avatar {
  background-color: $defaultIconColor;
  height: $avatarDiameter !important;
  width: $avatarDiameter !important;
  color: white;
  font-size: $avatarFontSize !important;
  font-weight: bold;
  transition: 0.5s;

  &:hover {
    background: rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }
}

.smallIconButton {
  background-color: $defaultIconColor !important;
  height: $smallAvatarDiameter;
  width: $smallAvatarDiameter;
  transition: 0.5s;

  &:hover {
    background: rgba(0, 0, 0, 0.35) !important;
    cursor: pointer;
  }
}

.largeIconButton {
  background-color: $defaultIconColor !important;
  height: $avatarDiameter;
  width: $avatarDiameter;
  transition: 0.5s;

  &:hover {
    background: rgba(0, 0, 0, 0.2) !important;
    cursor: pointer;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.smallLeftMargin {
  margin-left: $gridMarginSmall !important;
}

.leftMargin {
  margin-left: $gridMargin !important;
}

.smallRightMargin {
  margin-right: $gridMarginSmall !important;
}

.rightMargin {
  margin-right: $gridMargin !important;
}

.oddIdx {
  background-color: $gridLightColor;
}

.evenIdx {
  background-color: $gridDarkColor;
}

.roundedBottom {
  border-radius: 0px 0px 15px 15px;
}

.buttonText {
  font-weight: bold !important;
}

// ---------------- HEADER ----------------

.header {
  height: $headerHeight;
  background-color: $headerColor;
}

.headerItem {
  display: inline-flex;
  align-items: center;
  color: white;
  font-weight: bold;
}

.logo {
  margin-left: 10px;
  height: $headerHeight - $headerMargins;
}

.profileItem {
  justify-content: flex-end;
}

// ---------------- USERS BAR ----------------

.usersBar {
  height: $usersBarHeight;
  align-items: center;
  background-color: $usersBarColor;
}

.usersBarItem {
  display: flex;
  align-items: center;
}

.usersBarChip {
  background-color: $defaultIconColor !important;
}

.usersBarAvatar {
  color: white !important;
  font-weight: bold;
}

.dialogTitle {
  padding-bottom: 0px !important;
  margin-bottom: -5px !important;
}

.dialogNames {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.halfWidthInput {
  width: 45% !important;
}

.addUserButton {
  transition: all 0.5s;

  &:hover {
    background-color: #bbbbbb;
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

// ---------------- GRID HEADER ----------------

.entryHeader {
  background-color: $gridHeaderColor;
  height: $entryHeaderHeight;
  display: flex;
  align-items: center;
}

.entryHeaderItem {
  background-color: $gridHeaderColor;
  height: $entryHeaderHeight;
  display: flex;
  align-items: center;
}

.gridHeaderText {
  margin-left: $gridMargin;
  font-size: 17px;
  font-weight: bold;
}

// ---------------- ENTRIES GRID ----------------

.entryDiv {
  height: $entryHeight;
  display: flex;
  align-items: center;
  transition: all 0.5s;

  &:hover {
    background: $gridHighlightColor;
  }

  &:focus-within {
    background: $gridHighlightColor;
  }
}

.entryGridDiv {
  flex: 6;
  height: 100%;
}

.entryInput {
  height: $entryHeight;
  margin: 0px $gridMargin 0px $gridMargin;
  transition: all 0.5s;
}

.addItemContainer {
  height: $entryHeight;
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.addItemButton {
  margin-top: 20px !important;
  border-radius: 20px !important;
}

.addItemFabDiv {
  font-weight: bold !important;
  position: fixed;
  bottom: 30px;
  left: 30px;
}

// ---------------- EXCLUDE USERS MODAL ----------------

.excludeModalContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}

.excludeModalPaper {
  margin-top: 10px;
  padding: 0px 10px 5px 10px;
  width: 45%;
}

.excludeModalPaperHeader {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.excludeModalChip {
  margin-bottom: 10px;
}

// ---------------- ADD ENTRY MODAL ----------------

.modalInputRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px !important;
}

.itemInput {
  width: 60% !important;
}

.costInput {
  width: 30% !important;
}

.excludeUsersForm {
  min-width: 300px;
}

// ---------------- SIDE DIALOG ----------------

.sideDialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background-color: $overviewDialogColor;
  position: fixed;
  top: $headerHeight + $usersBarHeight + 15;
  right: 25px;
  width: 380px;
  box-shadow: 5px 5px 15px #5b5b5baa;
}

.tabs {
  margin-bottom: 15px;
}

.dialogTab {
  color: black;
  font-weight: bold !important;
  transition: all 0.3s;

  &:hover {
    color: $headerColor !important;
  }

  &:focus {
    color: $headerColor !important;
  }
}

// ---------------- OVERVIEW GRID ----------------

.overview {
  width: 350px;
  padding: 0px 15px 15px 15px !important;
}

.overviewHeader {
  border-radius: 15px 15px 0px 0px;
  background-color: $gridHeaderColor;
  height: $entryHeaderHeight;
  display: flex;
  align-items: center;
}

.overviewFabDiv {
  font-weight: bold !important;
  position: fixed;
  top: $headerHeight + $usersBarHeight + 15;
  right: 20px;
}

.overviewRowDiv {
  height: $entryHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.dialogButton {
  margin-top: 20px !important;
  border-radius: 20px !important;
}

// ---------------- BREAKDOWN GRID ----------------

.breakdown {
  width: 350px;
  padding: 0px 15px 15px 15px !important;
}

.breakdownHeader {
  border-radius: 15px 15px 0px 0px;
  background-color: $gridHeaderColor;
  height: $entryHeaderHeight;
  display: flex;
  align-items: center;
}

.breakdownRowDiv {
  height: $entryHeight;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.arrow {
  font-size: 11px;
  font-weight: bold;
  height: 26px;
  width: 75px;
  line-height: 26px;
  display: inline-block;
  position: relative;

  &:after {
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    display: inline-block;
    content: "";
    position: absolute;
    right: -13px;
  }
}

.greenArrow {
  background-color: $greenArrowColor;

  &:after {
    border-left: 13px solid $greenArrowColor;
  }
}

.redArrow {
  background-color: $redArrowColor;

  &:after {
    border-left: 13px solid $redArrowColor;
  }
}
