.header {
    height: 60px;
    align-items: center;
}

.headerItem {
    height: 60px;
    background-color: #3498db;
    align-items: center;
    display: inline-flex;
}

.alignRight {
    justify-content: flex-end;
}

.userCircle {
    height: 45px;
    width: 45px;
    background-color: #2980b9;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 0px 0px 0px 10px;
}

.profileCircle {
    margin-right: 10px;
}

.oddId {
    background-color: #DADADA;
}

.evenId {
    background-color: #ffffff;
}

.entry {
    height: 50px;
    display: inline-flex;
    align-items: center;
}