.leftMarginSmall {
  margin-left: 5px !important;
}

.leftMargin {
  margin-left: 10px !important;
}

.rightMarginSmall {
  margin-right: 5px !important;
}

.rightMargin {
  margin-right: 10px !important;
}

.sideMargins {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.sideMarginsSmall {
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.roundedTop {
  border-radius: 15px 15px 0px 0px;
}

.roundedBottom {
  border-radius: 0px 0px 15px 15px;
}

.avatar {
  background-color: #c4c4c4;
  height: 40px !important;
  width: 40px !important;
  color: white;
  font-size: 20px !important;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.avatar:hover {
  background: rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.iconButton {
  background-color: #c4c4c4 !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.iconButton:hover {
  background-color: rgba(0, 0, 0, 0.35) !important;
  cursor: pointer;
}

.smallIconButton {
  height: 33px;
  width: 33px;
}

.largeIconButton {
  height: 40px;
  width: 40px;
}

.modalConfirmButton {
  color: white !important;
  background-color: #377cab !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modalConfirmButton:hover {
  background-color: #5f8ba9 !important;
}

.modalTitle {
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}

.modalContent {
  padding-top: 10px !important;
  padding-bottom: 25px !important;
}

.modalInputRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.halfWidthModalInput {
  width: 45% !important;
}

.modalActions {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.gridHeader {
  background-color: #c9c9c9;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  font-weight: bold;
}

.oddIdx {
  background-color: #f6f6f6;
}

.evenIdx {
  background-color: #dedede;
}

.header {
  height: 60px;
  background-color: #377cab;
}

.headerItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
}

.profileItem {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.usersBar {
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.usersBarChip {
  background-color: #c4c4c4 !important;
}

.usersBarAvatar {
  color: white !important;
  font-weight: bold;
}

.addUserButton {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.addUserButton:hover {
  background-color: #bbbbbb;
  cursor: pointer;
}

.addUserButton:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.entryDiv {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.entryDiv:hover {
  background: #377cab35;
}

.entryDiv:focus-within {
  background: #377cab35;
}

.sideDialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 20px;
  background-color: #eaeaea;
  position: fixed;
  top: 125px;
  right: 25px;
  -webkit-filter: drop-shadow(0 3px 5px #00000060);
          filter: drop-shadow(0 3px 5px #00000060);
}

.sideDialogTab {
  color: black;
  font-weight: bold !important;
}

.sideDialogTab:focus {
  color: #377cab !important;
}

.sideDialogContent {
  -webkit-filter: drop-shadow(0 2px 4px #00000040);
          filter: drop-shadow(0 2px 4px #00000040);
  border-radius: 15px !important;
  width: 350px;
  padding: 20px !important;
}

.sideDialogRow {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sideDialogFab {
  position: fixed;
  top: 125px;
  right: 20px;
}

.arrow {
  font-size: 11px;
  font-weight: bold;
  height: 26px;
  width: 75px;
  line-height: 26px;
  position: relative;
  margin-left: 10px;
}

.arrow:after {
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  content: "";
  position: absolute;
  right: -13px;
}

.greenArrow {
  background-color: #2ecc71;
}

.greenArrow:after {
  border-left: 13px solid #2ecc71;
}

.redArrow {
  background-color: #e74c3c;
}

.redArrow:after {
  border-left: 13px solid #e74c3c;
}

.noBreakdownData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.excludeModalContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden !important;
}

.excludeModalPaperHeader {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.excludeModalPaper {
  border-radius: 15px !important;
  background-color: #f6f6f6 !important;
  margin-top: 10px;
  padding: 0px 10px 5px 10px;
  width: 46%;
}

.excludeModalChip {
  margin-bottom: 10px;
}

.itemInput {
  width: 60% !important;
}

.costInput {
  width: 30% !important;
}

.addItemFabDiv {
  position: fixed;
  bottom: 30px;
  left: 30px;
}

.settingsDiv {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
/*# sourceMappingURL=main.css.map */