// ---------------- VARIABLES ----------------

$headerHeight: 60px;
$headerMargins: 20px;
$avatarDiameter: 40px;
$smallAvatarDiameter: 33px;
$usersBarHeight: 50px;
$entryHeaderHeight: 35px;
$gridLeftMargin: 10px;
$gridLeftMarginSmall: 5px;
$gridRightMargin: 10px;
$gridRightMarginSmall: 5px;
$entryHeight: 50px;

$defaultIconColor: #dcdcdc;
$headerColor: #377cab;
$usersBarColor: #f4f4f4;
$gridHeaderColor: #b1b1b1;
$gridDarkColor: #c9c9c9;
$gridLightColor: #f4f4f4;
$gridHighlightColor: rgba(41, 128, 185, 0.35);

// ---------------- GENERAL ----------------

.avatar {
  background-color: $defaultIconColor;
  color: white;
  font-weight: bold;
  transition: 0.5s;

  &:hover {
    background: rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }
}

.smallIconButton {
  background-color: $defaultIconColor !important;
  height: $smallAvatarDiameter;
  width: $smallAvatarDiameter;
  transition: 0.5s;

  &:hover {
    background: rgba(0, 0, 0, 0.35) !important;
    cursor: pointer;
  }
}

.largeIconButton {
  background-color: $defaultIconColor !important;
  height: $avatarDiameter;
  width: $avatarDiameter;
  transition: 0.5s;

  &:hover {
    background: rgba(0, 0, 0, 0.2) !important;
    cursor: pointer;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.smallLeftMargin {
  margin-left: $gridLeftMarginSmall !important;
}

.leftMargin {
  margin-left: $gridLeftMargin !important;
}

.smallRightMargin {
  margin-right: $gridRightMarginSmall !important;
}

.rightMargin {
  margin-right: $gridRightMargin !important;
}

.oddIdx {
  background-color: $gridDarkColor;
}

.evenIdx {
  background-color: $gridLightColor;
}

// ---------------- HEADER ----------------

.header {
  height: $headerHeight;
  background-color: $headerColor;
}

.headerItem {
  display: inline-flex;
  align-items: center;
}

.logo {
  margin-left: 10px;
  height: $headerHeight - $headerMargins;
}

.profile {
  margin-right: 10px;
}

.profileItem {
  justify-content: flex-end;
}

// ---------------- USERS BAR ----------------

.usersBar {
  height: $usersBarHeight;
  align-items: center;
  background-color: $usersBarColor;
}

.usersBarItem {
  display: flex;
  align-items: center;
}

.usersBarChip {
  background-color: $defaultIconColor !important;
}

.usersBarAvatar {
  color: white !important;
  font-weight: bold;
}

.dialogNames {
  display: flex;
  justify-content: space-between;
}

.halfWidthInput {
  width: 45%;
}

.addUserButton {
  transition: all 0.5s;

  &:hover {
    background-color: #bbbbbb;
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

// ---------------- GRID HEADER ----------------

.entryHeaderItem {
  background-color: $gridHeaderColor;
  border-right: 1px solid black;
  height: $entryHeaderHeight;
  display: flex;
  align-items: center;
}

.lastEntryHeaderItem {
  background-color: $gridHeaderColor;
  height: $entryHeaderHeight;
  display: flex;
  align-items: center;
}

.sidebarHeaderItem {
  background-color: $gridHeaderColor;
  border-left: 1px solid black;
  height: $entryHeaderHeight;
  display: flex;
  align-items: center;
}

.gridHeaderText {
  margin-left: $gridLeftMargin;
  font-size: 17px;
  font-weight: bold;
}

// ---------------- ENTRIES GRID ----------------

.entryDiv {
  height: $entryHeight;
  display: flex;
  align-items: center;
  border-right: 1px solid black;
  transition: all 0.5s;

  &:hover {
    background: $gridHighlightColor;
  }

  &:focus-within {
    background: $gridHighlightColor;
  }
}

.lastEntryDiv {
  height: $entryHeight;
  display: flex;
  align-items: center;
  transition: all 0.5s;

  &:hover {
    background: $gridHighlightColor;
  }

  &:focus-within {
    background: $gridHighlightColor;
  }
}

.entryGridDiv {
  flex: 6;
  height: 100%;
}

.entryInput {
  height: $entryHeight;
  margin: 0px $gridRightMargin 0px $gridLeftMargin;
  transition: all 0.5s;
}

.addItemContainer {
  height: $entryHeight;
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.addItemButton {
  margin-top: 20px !important;
  border-radius: 20px !important;
}

// ---------------- OVERVIEW GRID ----------------

.overview {
  flex: 2;
}

.overviewDiv {
  height: $entryHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid black;
  transition: all 0.5s;
}
