.avatar {
  background-color: #c9c9c9;
  color: white;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.avatar:hover {
  background: rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.smallIconButton {
  background-color: #c9c9c9 !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.smallIconButton:hover {
  background: rgba(0, 0, 0, 0.35) !important;
  cursor: pointer;
}

.largeIconButton {
  background-color: #c9c9c9 !important;
  height: 40px;
  width: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.largeIconButton:hover {
  background: rgba(0, 0, 0, 0.2) !important;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.smallLeftMargin {
  margin-left: 5px !important;
}

.leftMargin {
  margin-left: 10px !important;
}

.smallRightMargin {
  margin-right: 5px !important;
}

.rightMargin {
  margin-right: 10px !important;
}

.oddIdx {
  background-color: #f4f4f4;
}

.evenIdx {
  background-color: #dedede;
}

.header {
  height: 60px;
  background-color: #377cab;
}

.headerItem {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-left: 10px;
  height: 40px;
}

.profile {
  margin-right: 10px;
}

.profileItem {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.usersBar {
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
}

.usersBarItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.usersBarAvatar {
  color: white !important;
  font-weight: bold;
}

.dialogNames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.halfWidthInput {
  width: 45%;
}

.addUserButton {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.addUserButton:hover {
  background-color: #bbbbbb;
  cursor: pointer;
}

.addUserButton:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.entryHeaderItem {
  background-color: #c9c9c9;
  border-right: 1px solid black;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lastEntryHeaderItem {
  background-color: #c9c9c9;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebarHeaderItem {
  background-color: #c9c9c9;
  border-left: 1px solid black;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gridHeaderText {
  margin-left: 10px;
  font-size: 17px;
  font-weight: bold;
}

.entryDiv {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.entryDiv:hover {
  background: rgba(41, 128, 185, 0.5);
}

.entryDiv:focus-within {
  background: rgba(41, 128, 185, 0.5);
}

.lastEntryDiv {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.lastEntryDiv:hover {
  background: rgba(41, 128, 185, 0.5);
}

.lastEntryDiv:focus-within {
  background: rgba(41, 128, 185, 0.5);
}

.entryGridDiv {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  height: 100%;
}

.entryInput {
  height: 50px;
  margin: 0px 10px 0px 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.addItemContainer {
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.addItemButton {
  margin-top: 20px !important;
  border-radius: 20px !important;
}

.sidebar {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.sidebarDiv {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 1px solid black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/*# sourceMappingURL=main.css.map */