// ---------------- VARIABLES ----------------

$headerHeight: 60px;
$headerMargins: 20px;

$avatarDiameter: 40px;
$avatarFontSize: 20px;
$smallAvatarDiameter: 33px;

$usersBarHeight: 50px;
$entryHeaderHeight: 35px;
$marginStandard: 10px;
$marginSmall: 5px;
$entryHeight: 50px;

$defaultIconColor: #c4c4c4;
$headerColor: #377cab;
$headerColorLight: #5f8ba9;
$usersBarColor: #ffffff;
$gridHeaderColor: #c9c9c9;
$gridDarkColor: #dedede;
$gridLightColor: #f6f6f6;
$gridHighlightColor: #377cab35;
$overviewDialogColor: #eaeaea;
$greenArrowColor: #2ecc71;
$redArrowColor: #e74c3c;

// ---------------- GENERAL - ALL ----------------

.leftMarginSmall {
  margin-left: $marginSmall !important;
}

.leftMargin {
  margin-left: $marginStandard !important;
}

.rightMarginSmall {
  margin-right: $marginSmall !important;
}

.rightMargin {
  margin-right: $marginStandard !important;
}

.sideMargins {
  margin-right: $marginStandard !important;
  margin-left: $marginStandard !important;
}

.sideMarginsSmall {
  margin-right: $marginSmall !important;
  margin-left: $marginSmall !important;
}

.roundedTop {
  border-radius: 15px 15px 0px 0px;
}

.roundedBottom {
  border-radius: 0px 0px 15px 15px;
}

// ---------------- GENERAL ----------------

.avatar {
  background-color: $defaultIconColor;
  height: $avatarDiameter !important;
  width: $avatarDiameter !important;
  color: white;
  font-size: $avatarFontSize !important;
  font-weight: bold;
  transition: 0.5s;

  &:hover {
    background: rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }
}

// ---------------- GENERAL - CLICKABLE ----------------

.iconButton {
  background-color: $defaultIconColor !important;
  transition: 0.5s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.35) !important;
    cursor: pointer;
  }
}

.smallIconButton {
  height: $smallAvatarDiameter;
  width: $smallAvatarDiameter;
}

.largeIconButton {
  height: $avatarDiameter;
  width: $avatarDiameter;
}

.modalConfirmButton {
  color: white !important;
  background-color: $headerColor !important;
  transition: 0.5s;

  &:hover {
    background-color: $headerColorLight !important;
  }
}

// ---------------- GENERAL - MODAL ----------------

.modalTitle {
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}

.modalContent {
  padding-top: 10px !important;
  padding-bottom: 25px !important;
}

.modalInputRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.halfWidthModalInput {
  width: 45% !important;
}

.modalActions {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

// ---------------- GENERAL - GRID ----------------

.gridHeader {
  background-color: $gridHeaderColor;
  height: $entryHeaderHeight;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
}

.oddIdx {
  background-color: $gridLightColor;
}

.evenIdx {
  background-color: $gridDarkColor;
}

// ---------------- HEADER ----------------

.header {
  height: $headerHeight;
  background-color: $headerColor;
}

.headerItem {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
}

.profileItem {
  justify-content: flex-end;
}

// ---------------- USERS BAR ----------------

.usersBar {
  height: $usersBarHeight;
  align-items: center;
  background-color: $usersBarColor;
}

.usersBarChip {
  background-color: $defaultIconColor !important;
}

.usersBarAvatar {
  color: white !important;
  font-weight: bold;
}

.addUserButton {
  transition: all 0.5s;

  &:hover {
    background-color: #bbbbbb;
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

// ---------------- ENTRIES GRID ----------------

.entryDiv {
  height: $entryHeight;
  display: flex;
  align-items: center;
  transition: all 0.5s;

  &:hover {
    background: $gridHighlightColor;
  }

  &:focus-within {
    background: $gridHighlightColor;
  }
}

// ---------------- SIDE DIALOG ----------------

.sideDialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background-color: $overviewDialogColor;
  position: fixed;
  top: $headerHeight + $usersBarHeight + 15;
  right: 25px;
  filter: drop-shadow(0 3px 5px #00000060);
}

.sideDialogTab {
  color: black;
  font-weight: bold !important;

  &:focus {
    color: $headerColor !important;
  }
}

.sideDialogContent {
  filter: drop-shadow(0 2px 4px #00000040);
  border-radius: 15px !important;
  width: 350px;
  padding: 20px !important;
}

.sideDialogRow {
  height: $entryHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.sideDialogFab {
  position: fixed;
  top: $headerHeight + $usersBarHeight + 15;
  right: 20px;
}

// ---------------- BREAKDOWN ----------------

.arrow {
  font-size: 11px;
  font-weight: bold;
  height: 26px;
  width: 75px;
  line-height: 26px;
  position: relative;
  margin-left: $marginStandard;

  &:after {
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    content: "";
    position: absolute;
    right: -13px;
  }
}

.greenArrow {
  background-color: $greenArrowColor;

  &:after {
    border-left: 13px solid $greenArrowColor;
  }
}

.redArrow {
  background-color: $redArrowColor;

  &:after {
    border-left: 13px solid $redArrowColor;
  }
}

.noBreakdownData {
  display: flex;
  justify-content: center;
}

// ---------------- EXCLUDE USERS MODAL ----------------

.excludeModalContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden !important;
}

.excludeModalPaperHeader {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.excludeModalPaper {
  border-radius: 15px !important;
  background-color: $gridLightColor !important;
  margin-top: 10px;
  padding: 0px 10px 5px 10px;
  width: 46%;
}

.excludeModalChip {
  margin-bottom: 10px;
}

// ---------------- ADD ITEM MODAL ----------------

.itemInput {
  width: 60% !important;
}

.costInput {
  width: 30% !important;
}

.addItemFabDiv {
  position: fixed;
  bottom: 30px;
  left: 30px;
}

// ---------------- SETTINGS MODAL ----------------

.settingsDiv {
  display: flex !important;
  justify-items: center;
  justify-content: center;
  margin-top: 20px;
}

// ---------------- LOGIN ----------------

.auth {
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.authPaper {
  border-radius: 15px !important;
  // background-color: $overviewDialogColor !important;
  width: 370px;
  padding: 20px;
}

.authDiv {
  display: flex;
  flex-direction: column;
}

.authHeader {
  font-size: 30px;
}

.authInput {
  margin-top: 25px !important;
}

.authSubtext {
  margin-top: 20px;
  margin-bottom: 20px;
}

.authSwitchViewText {
  color: $headerColor;
  cursor: pointer;

  &:hover {
    color: $headerColorLight;
  }
}

.authButton {
  color: white !important;
  background-color: $headerColor !important;
  transition: 0.5s;

  &:hover {
    background-color: $headerColorLight !important;
  }
}

.googleButton {
  background-color: $gridLightColor !important;
  margin-bottom: 15px !important;
}
