$header-height: 60px;

.header {
    height: $header-height;
    align-items: center;
}

.headerItem {
    height: $header-height;
    align-items: center;
    display: inline-flex;
    background-color: #3498db;
}

.headerLogo {
    height: $header-height;
    align-items: center;
    display: inline-flex;
    background-color: #f4f4f4;
    border-right: 3px black;
}

.alignRight {
    justify-content: flex-end;
}

.userCircle {
    height: 45px;
    width: 45px;
    background-color: #2980b9;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 0px 0px 0px 10px;
}

.profileCircle {
    margin-right: 10px;
}

.oddId {
    background-color: #f4f4f4;
}

.evenId {
    background-color: #DADADA;
}

$entry-height: 50px;

.entry {
    height: $entry-height;
    display: inline-flex;
    align-items: center;
}

.entryHeaderText {
    margin-left: 10px;
    font-size: 17px;
    font-weight: bold;
}

.entryItemContainer {
    height: $entry-height;
    border-right: 1px solid black;
    display: inline-flex;
    align-items: center;
}

.entryHeaderItemContainer {
    height: $entry-height;
    border-right: 1px solid black;
    display: inline-flex;
    align-items: center;
}

.entryItem {
    height: $entry-height;
    margin-left: 10px;
    font-size: 100px;
}

.addItemContainer {
    height: $entry-height;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.addItemButton {
    margin-top: 20px !important;
    border-radius: 20px !important;
}