// ---------------- VARIABLES ----------------

$headerHeight: 60px;
$headerMargins: 20px;

$avatarDiameter: 40px;
$avatarFontSize: 20px;
$smallAvatarDiameter: 33px;

$usersBarHeight: 50px;
$entryHeaderHeight: 35px;
$marginStandard: 10px;
$marginSmall: 5px;
$entryHeight: 50px;

$defaultIconColor: #dedede;
$selectedIconColor: #969696;
$headerColor: #377cab;
$headerColorLight: #5f8ba9;
$usersBarColor: #ffffff;
$gridHeaderColor: #c9c9c9;
$gridDarkColor: #dedede;
$gridLightColor: #f6f6f6;
$gridHighlightColor: #377cab35;
$overviewDialogColor: #eaeaea;
$greenArrowColor: #2ecc71;
$redArrowColor: #e74c3c;

// ---------------- GENERAL - ALL ----------------

.leftMarginSmall {
  margin-left: $marginSmall !important;
}

.leftMargin {
  margin-left: $marginStandard !important;
}

.leftMarginLarge {
  margin-left: 50px !important;
}

.rightMarginSmall {
  margin-right: $marginSmall !important;
}

.rightMargin {
  margin-right: $marginStandard !important;
}

.sideMargins {
  margin-right: $marginStandard !important;
  margin-left: $marginStandard !important;
}

.sideMarginsSmall {
  margin-right: $marginSmall !important;
  margin-left: $marginSmall !important;
}

.bottomMargin {
  margin-bottom: $marginStandard !important;
}

.roundedTop {
  border-radius: 15px 15px 0px 0px;
}

.roundedBottom {
  border-radius: 0px 0px 15px 15px;
}

.noTextDecoration {
  text-decoration: none !important;
}

// ---------------- GENERAL ----------------

.avatar {
  background-color: $defaultIconColor;
  height: $avatarDiameter !important;
  width: $avatarDiameter !important;
  font-size: $avatarFontSize !important;
  color: white;
  font-weight: bold;
  transition: 0.5s;
}

.smallAvatar {
  color: white !important;
  font-weight: bold;
}

// ---------------- GENERAL - INTERACTIVE ----------------

.iconButton {
  background-color: $defaultIconColor !important;
  transition: 0.5s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.35) !important;
    cursor: pointer;
  }
}

.smallIconButton {
  height: $smallAvatarDiameter;
  width: $smallAvatarDiameter;
}

.largeIconButton {
  height: $avatarDiameter;
  width: $avatarDiameter;
}

.modalContent {
  padding-right: 15px !important;
}

.modalConfirmButton {
  color: white !important;
  background-color: $headerColor !important;
  transition: 0.5s;

  &:hover {
    background-color: $headerColorLight !important;
  }
  &:disabled {
    background-color: $gridDarkColor !important;
  }
}

.chip {
  background-color: $defaultIconColor !important;
}

.selectedChip {
  background-color: $selectedIconColor !important;
}

.linkCursor:hover {
  cursor: pointer;
}

// ---------------- GENERAL - MODAL ----------------

.modal {
  border-radius: 10px !important;
}

.modalTitle {
  display: flex;
  padding-top: 10px !important;
  padding-bottom: 0px !important;
}

.modalInputRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.halfWidthModalInput {
  width: 45% !important;
}

.modalActions {
  padding-top: 0px !important;
  margin-bottom: 5px !important;
}

.modalClose {
  position: absolute !important;
  top: 10px;
  right: 15px;
}

// ---------------- GENERAL - GRID ----------------

.gridHeader {
  background-color: $gridHeaderColor;
  height: $entryHeaderHeight;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
}

.lightRow {
  background-color: $gridLightColor;
}

.darkRow {
  background-color: $gridDarkColor;
}

// ---------------- HEADER ----------------

.header {
  height: $headerHeight;
  background-color: $headerColor;
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
}

#autosaveMessage {
  display: flex;
  align-items: center;
  margin-left: 30px;
  font-size: 13px;
}

// ---------------- USERS BAR ----------------

.usersBar {
  height: $usersBarHeight;
  align-items: center;
  height: auto;
  padding-top: $marginStandard;
  background-color: $usersBarColor;
}

.addUserButton {
  transition: all 0.5s;

  &:hover {
    background-color: #bbbbbb;
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

#shareIcon {
  margin-bottom: 3px;
  transform: scaleX(-1);
}

// ---------------- ENTRIES GRID ----------------

.entryDiv {
  height: $entryHeight;
  display: flex;
  align-items: center;
  transition: all 0.5s;

  &:hover {
    background: $gridHighlightColor;
  }

  &:focus-within {
    background: $gridHighlightColor;
  }
}

// ---------------- SIDE DIALOG ----------------

.sideDialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background-color: $overviewDialogColor;
  position: fixed;
  top: $headerHeight + $usersBarHeight + 15;
  right: 25px;
  filter: drop-shadow(0 3px 5px #00000060);
}

.sideDialogTab {
  color: black;
  font-weight: bold !important;

  &:focus {
    color: $headerColor !important;
  }
}

.sideDialogContent {
  filter: drop-shadow(0 2px 4px #00000040);
  border-radius: 15px !important;
  width: 350px;
  padding: 20px !important;
}

.sideDialogRow {
  height: $entryHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.sideDialogFab {
  position: fixed;
  top: $headerHeight + $usersBarHeight + 15;
  right: 20px;
}

// ---------------- BREAKDOWN ----------------

.arrow {
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  height: 26px;
  width: 80px;
  line-height: 26px;
  position: relative;
  border-radius: 5px 0px 0px 5px;

  &:after {
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    content: "";
    position: absolute;
    right: -13px;
  }
}

.evenArrow {
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  height: 26px;
  width: 93px;
  line-height: 26px;
  background-color: $headerColorLight;
  border-radius: 20px;
}

.greenArrow {
  background-color: $greenArrowColor;

  &:after {
    border-left: 13px solid $greenArrowColor;
  }
}

.redArrow {
  background-color: $redArrowColor;

  &:after {
    border-left: 13px solid $redArrowColor;
  }
}

.noBreakdownData {
  display: flex;
  justify-content: center;
}

// ---------------- EXCLUDE USERS MODAL ----------------

.excludeModalContent {
  display: flex;
  justify-content: space-around;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.excludeModalColumn {
  display: flex;
  flex-direction: column;
}

.excludeModalUser {
  display: flex;
  align-items: center;
  margin-bottom: $marginSmall;
}

// ---------------- ADD ITEM MODAL ----------------

.itemInput {
  width: 60% !important;
}

.costInput {
  width: 30% !important;
}

.addItemFabDiv {
  position: fixed;
  bottom: 30px;
  left: 30px;
}

.addItemFab {
  color: white !important;
  background-color: $headerColor !important;
  font-weight: bold !important;

  &:hover {
    background-color: $headerColorLight !important;
  }
}

// ---------------- HOME PAGE ----------------

#homepageHeader {
  height: 60px;
  // background-color: blue;
}

.homepage {
  height: 85vh;
  perspective: 1500px;
}

#homepageBlob {
  position: absolute;
  top: 50%;
  margin-top: -23vw;
  width: 55vw;
  z-index: 0;
}

#homepageImg {
  margin-left: 1vw;
  transform: rotateY(15deg);
  width: 52vw;
  opacity: 95%;
  z-index: 1;
  border-radius: 10px;
  transition: all 0.5s;

  &:hover {
    transform: rotateY(0deg);
    transform: scale(1.1);
  }
}

#homepageText {
  display: flex;
  flex-direction: column;
}

#homepageTitle {
  font-size: 2.5vw;
  font-weight: bold;
}

#homepageSubtitle {
  font-size: 1vw;
  margin: 0px 10px 20px 0px;
}

.homepageLink {
  font-weight: bold;
  margin-right: 40px;
  color: $headerColor;
}

.createNewButton {
  color: white !important;
  background-color: $headerColor !important;
  font-size: 15px !important;
  font-weight: bold !important;
  text-transform: none !important;
  text-decoration: none !important;
  transition: 0.5s;
  height: 40px;
  width: 200px;

  &:hover {
    background-color: $headerColorLight !important;
  }
  &:disabled {
    background-color: $gridDarkColor !important;
  }
}

// ---------------- ERROR PAGE ----------------

.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.errorPageHeader {
  font-size: 50px;
  color: $headerColor;
  margin-bottom: 15px;
}

.errorPageSubtitle {
  margin: 0px 20px 0px 20px;
}

// ---------------- TERMS OF SERVICE ----------------

#tos {
  margin: $marginStandard;

  h2 {
    color: $headerColor;
  }
}

// ---------------- CREATE NEW SHEET ----------------

.createNewSheet {
  height: 90vh;
  display: flex;
  align-items: center;
}

.createNewSheetItem {
  display: flex;
  flex-direction: column;
}

.giantHeader {
  font-size: 45px;
  margin-bottom: 30px;
}

.giantHeaderSubtext {
  margin-top: -25px;
  margin-bottom: 30px;
  font-size: 15px;
}

.giantTextField {
  margin-bottom: 40px !important;
}

.giantInput {
  color: $headerColor !important;
  font-size: 50px !important;
  height: 60px !important;
}

.termsAndConditions {
  margin-bottom: 20px;
}

.continueButton {
  color: white !important;
  background-color: $headerColor !important;
  font-size: 15px !important;
  font-weight: bold !important;
  text-transform: none !important;
  transition: 0.5s;
  height: 40px;
  width: 200px;

  &:hover {
    background-color: $headerColorLight !important;
  }
  &:disabled {
    background-color: $gridDarkColor !important;
  }
}

.stepIndicator {
  display: flex;
  align-items: center;
  color: $selectedIconColor;
  position: fixed;
  top: 30px;
  left: 30px;
  font-size: 20px;
}

.saveLinkPaper {
  border-radius: 10px !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 10px;
}

// ---------------- 404 PAGE ----------------
